body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

h1,p {
    text-align: center;
    justify-content: center;
}
#guess{
    text-align: center;
    justify-content: center;
    margin-left: 600px;
    
}

button {
    color: white;
    background-color:red;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;
}

button:hover {
    background-color: green;
}
